---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Logo from '../static/images/ui/logo.svg'

const allWikiPosts = await getCollection('wiki');
const allPortfolioPosts = await getCollection('portfolio');
const allBlogPosts = await getCollection('blog');



allPortfolioPosts.sort((a, b) => {
	//return +new Date(b.data.date) - +new Date(a.data.date)
	return Boolean(b.data.featured) - Boolean(a.data.featured)
})

---

<Layout title="Home">
	<main class="home-page">
		<div class="index-container">
			<h1>Latest Work</h1>
			<div class="portfolio-view">
				{ allPortfolioPosts.map((p: any) => {
				return(
				<div class="card-container">
					<a href={`/portfolio/${p.slug}`}>
						<div class="card-title">
							<div class="card-title-left">{p.data.title}</div>
							<div class="card-title-right">{p.data.dateRange}</div>
						</div>
						<img class="img-util" src={p.data.images[0].src} />
					</a>
				</div>
				)})}
			</div>
		</div>
		<div class="index-container">
			<h1>Latest Blog Posts</h1>
			<div class="blog-view">
				{ allBlogPosts.map((p: any) => {
					
				return (	
				<div class="card-container">
					<a href={`/blog/${p.slug}`}>
						<div class="card-title">
							<div class="card-title-left">{p.data.title}</div>
							<div class="card-title-right">{p.data.date}</div>
						</div>
						<div class="post-text-border">
							<div class="post-text">
							{p.data.description}
							</div>
						</div>
					</a>
				</div>
			)})}
			</div>
		</div>

		<hr><br>
		<div class="emblem-container">
			<img class="emblem" alt="Devin S.G logo" src={Logo.src} />
		</div>
		<p>My name is Devin S.G. and I'm an entertainment focused front-end engineer that's discovering my next goal
			with helping build an interactive, entertainment platform. <br /><br />

			I've build front ends for journalists, musicians, gamers, engineers and producers for their own projects.
			Some of the tools I've made were built using:
			React, React Native, SASS, Vue, Redux, and more. <a class="highlight-link" href={'/about'}>Read more about me here</a>
			<div class="article-end">
			■
			</div><br /><br />
		</p>
	</main>
</Layout>

<style>
	main {}
</style>