---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Logo from '../static/images/ui/logo.svg'

const allWikiPosts = await getCollection('wiki');
const allPortfolioPosts = await getCollection('portfolio');

---

<Layout title="Devin S.G.: Home">
	<main class="home-page">
		<div class="index-container">
			<h1>Latest Work</h1>
			<div class="portfolio-view">
				{ allPortfolioPosts.map((p: any) => {
				return(
				<div class="card-container">
					<div class="card-title">
						<b>{p.data.title}</b>
					</div>
					<a href={`/portfolio/${p.slug}`}>
						<img src={p.data.images[0].src} />
					</a>
				</div>
				)})}
			</div>
		</div>
		<div class="index-container">
			<h1>Latest Wiki Posts</h1>
			<div class="wiki-view">
				{ allWikiPosts.map((p: any) => {
				return (
				<div class="card-container">
					<a href={`/wiki/${p.slug}`}>
						<img src={p.data.asciiLogo.src} />
					</a>
				</div>
				)})}
			</div>
		</div>
		<div class="index-container">
			<h1>Latest Blog Posts</h1>
			Something something
		</div>
		
		<hr><br>
		<div class="emblem-container">
			<img class="emblem" alt="Devin S.G logo" src={Logo.src}/>
		</div>
		<p>Consequat est id aliqua in esse aliqua sunt sint commodo excepteur nulla. Pariatur ex laborum consequat voluptate mollit pariatur mollit dolor sint. Reprehenderit cupidatat cupidatat proident dolor minim sint. Ad reprehenderit labore elit deserunt. Officia nostrud aliqua incididunt pariatur culpa elit anim irure culpa ipsum minim qui dolore duis. Irure amet magna incididunt velit veniam adipisicing elit. Velit velit officia ex excepteur anim sunt. Laboris nisi do sunt aliqua commodo non in in voluptate Lorem occaecat et. Laboris aute pariatur enim do laboris dolor eiusmod eu enim proident pariatur. Pariatur sint commodo sint do aliqua cupidatat dolor nisi veniam do enim. Reprehenderit minim consectetur ipsum commodo ex exercitation veniam eu consequat sint velit ea pariatur. Eiusmod est aute et laborum labore commodo nostrud irure excepteur aute consequat aliquip veniam.</p>
	</main>
</Layout>

<style>
	main {}
</style>